nodes.json
[{"id":"e21d96d6.433338","type":"tab","label":"フロー 1","disabled":false,"info":""},{"id":"61400c4c.8ded94","type":"template","z":"e21d96d6.433338","name":"スライドパズル","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n<!DOCTYPE html>\n<html lang=\"ja\">\n<head>\n<meta charset=\"UTF-8\"/>\n<title>スライドパズル</title>\n<script type=\"text/javascript\" src=\"https://code.jquery.com/jquery-2.2.4.min.js\"></script>\n<link href=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css\" rel=\"stylesheet\"/>\n<script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js\"></script>\n<link href=\"https://use.fontawesome.com/releases/v5.6.3/css/all.css\" rel=\"stylesheet\"/>\n<link rel=\"stylesheet\" type=\"text/css\" href=\"https://dotnsf-html.au-syd.mybluemix.net/jquery.jqpuzzle.css\"/>\n<script type=\"text/javascript\" src=\"https://dotnsf-html.au-syd.mybluemix.net/jquery.jqpuzzle.min.js\"></script>\n<meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"/>\n\n<meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"/>\n<meta name=\"apple-mobile-web-app-capable\" content=\"yes\"/>\n<meta name=\"apple-mobile-web-app-status-bar-style\" content=\"black\"/>\n<meta name=\"apple-mobile-web-app-title\" content=\"スライドパズル\"/>\n\n<script>\n$(function(){\n  var imagefile = document.getElementById( 'imagefile' );\n  imagefile.addEventListener( 'change', selectReadFile, false );\n});\n\nfunction selectReadFile( e ){\n  var file = e.target.files;\n  var reader = new FileReader();\n  reader.onload = function(){\n    readDrawImg( reader, 0, 0 );\n  };\n  reader.readAsDataURL( file[0] );\n}\n\nfunction readDrawImg( reader, x, y ){\n  var img = readImg( reader );\n  img.onload = function(){\n    var w = img.width;\n    var h = img.height;\n    $('#slidegame_img').prop( 'src', img.src );\n    $('#slidegame_img').prop( 'width', '600' );\n    //h = parseInt( 600 * h / w );\n    //$('#slidegame_img').prop( 'height', '' + h );\n\n    var t = $('img.jqPuzzle');\n    t.jqPuzzle( slide_settings, slide_texts );\n  };\n}\n\nfunction readImg( reader ){\n  var result_dataURL = reader.result;\n  var img = new Image();\n  img.src = result_dataURL;\n\n  return img;\n}\n</script>\n<style type=\"text/css\">\nhtml, body{\n  text-align: center;\n  background-color: #fafafa;\n  font-size: 20px;\n  color: #333;\n}\nlabel > input{\n  display:none;\n}\nlabel{\n  color: #aaa;\n  background-color: #006dd9;\n  padding: 10px;\n  border: double 4px #aaa;\n}\n#slidegame_img{\n  max-width: 100%;\n  height: auto;\n}\n</style>\n</head>\n<body>\n\n<div class=\"container center-block text-center\">\n  <label for=\"imagefile\">\n    <i class=\"fas fa-camera\"></i>\n    <input type=\"file\" id=\"imagefile\"/>\n  </label>\n  <br/>\n  <img id=\"slidegame_img\" class=\"jqPuzzle\" />\n</div>\n\n<script>\n//. jquery puzzle\nvar slide_settings = {\n  rows: 4,\n  cols: 4,\n  hole: 16,\n  shuffle: true,\n  numbers: true,\n  language: 'ja',\n  control: {\n    shufflePieces: false,\n    confirmShuffle: true,\n    toggleOriginal: true,\n    toggleNumbers: true,\n    counter: true,\n    timer: true,\n    pauseTimer: true\n  },\n  success: {\n    fadeOriginal: false,\n    callback: function( results ){\n      alert( '移動回数: ' + results.moves + '回, かかった時間: ' + results.seconds + '秒' );\n    },\n    callbackTimeout: 300\n  },\n  animation: {\n    shuffleRounds: 3,\n    shuffleSpeed: 800,\n    slidingSpeed: 200,\n    fadeOriginalSpeed: 600\n  },\n  style: {\n    gridSize: 2,\n    overlap: true,\n    backgroundOpacity: 0.1\n  }\n};\nvar slide_texts = {\n  shuffleLabel: 'シャッフル',\n  toggleOriginalLabel: '元画像',\n  toggleNumbersLabel: '数値表示／非表示',\n  confirmShuffleMessage: 'シャッフルしてよろしいですか？',\n  movesLabel: '回',\n  secondsLabel: '秒'\n};\n</script>\n</body>\n</html>\n","output":"str","x":320,"y":160,"wires":[["fec19bb3.fb5278"]]},{"id":"a2b93e8d.573ec","type":"http in","z":"e21d96d6.433338","name":"","url":"/slide","method":"get","upload":false,"swaggerDoc":"","x":110,"y":160,"wires":[["61400c4c.8ded94"]]},{"id":"fec19bb3.fb5278","type":"http response","z":"e21d96d6.433338","name":"","statusCode":"","headers":{},"x":500,"y":180,"wires":[]}]

